<header>
    <div class="d-flex justify-content-between container wrap-header">
        <div class="d-flex align-items-center header-logo">
            <img src="assets/images/logo.png" class="logo" alt="logo">
            <div class="text-logo d-flex align-items-center"> <span>Krykov</span><span>Stydio</span></div>
        </div>

        <div class="wrap-header-navigation  d-flex align-items-center justify-content-end">
           <ul class="d-none d-lg-flex flex-grow-1 flex-wrap ">
               <li><a class="link d-flex align-items-center" href="javacsript:void(0)">Главная</a></li>
               <li><a class="link d-flex align-items-center" href="javacsript:void(0)">Стек</a></li>
               <li><a class="link d-flex align-items-center" href="javacsript:void(0)">Магазин</a></li>
               <li><a class="link d-flex align-items-center" href="javacsript:void(0)">Блог</a></li>
               <li><a class="link d-flex align-items-center" href="javacsript:void(0)">Работы</a></li>
               <li><a class="link d-flex align-items-center" href="javacsript:void(0)">Контакты</a></li>
           </ul>
           <div class="mobile-btn d-flex  d-lg-none " (click)="change(true)">
               <i class="bi bi-list  mobile-menu"></i>
           </div>
        </div>
    </div>
</header>
