<header id="header">
    <div class="d-flex justify-content-between container wrap-header">
        <div class="d-flex align-items-center header-logo">
            <img src="assets/images/logo.png" class="logo" alt="logo">
            <div class="text-logo d-flex align-items-center"> <span>Krykov</span><span>Stydio</span></div>
        </div>

        <div class="wrap-header-navigation  d-flex align-items-center justify-content-end">
           <ul class="d-none d-lg-flex flex-grow-1 flex-wrap  " >
               <li><a class="link d-flex align-items-center" (click)="scrollToBlock($event)" data-id="main" >Главная</a></li>
               <li><a class="link d-flex align-items-center"  (click)="scrollToBlock($event)" data-id="feature" >Стек</a></li>
               <li><a class="link d-flex align-items-center"   (click)="scrollToBlock($event)" data-id="blog" >Блог</a></li>
               <li><a class="link d-flex align-items-center"  (click)="scrollToBlock($event)" data-id="works"  >Работы</a></li>
               <li><a class="link d-flex align-items-center"  (click)="scrollToBlock($event)" data-id="contacts" >Контакты</a></li>
           </ul>
           <div class="mobile-btn d-flex  d-lg-none " id="mobileBtn" >
               <i class="bi bi-list  mobile-menu"></i>
           </div>
        </div>
    </div>
</header>
