<footer>
    <div class=" to-up d-flex align-items-center justify-content-center">
        <i class="bi bi-chevron-up"></i>
    </div>

    <div class="line">
    <div class="footer-top  col-md-6 m-auto">
        <ul class="d-flex ">
            <li class="m-auto"><a (click)="scrollToBlock($event)" data-id="main">Главная</a></li>
            <li class="m-auto"><a (click)="scrollToBlock($event)" data-id="feature">Стек</a></li>
            <li class="m-auto"><a  (click)="scrollToBlock($event)" data-id="blog">Блог</a></li>
            <li class="m-auto"><a (click)="scrollToBlock($event)" data-id="works">Работы</a></li>
            <li class="m-auto"><a (click)="scrollToBlock($event)" data-id="contacts">Контакты</a></li>
        </ul>
    </div>
  </div>
    <div class="footer-top col-md-6 m-auto">
       <ul class="d-flex ">
            <li class="m-auto">KryukovStudio &copy; 2022 </li>
       </ul>
    </div>
</footer>
