<div *ngIf="display" class="mobile-menu">
    <ul class="mobile-items">
        <li class="d-flex justify-content-end"> <i (click)="close()" class="bi bi-x close"></i></li>
        <li> <a href="javascript:void(0)">Главная </a><i class="bi bi-chevron-right"></i> </li>
        <li> <a href="javascript:void(0)">Стек</a>    <i class="bi bi-chevron-right"></i></li>
        <li> <a href="javascript:void(0)">Магазин</a> <i class="bi bi-chevron-right"></i></li>
        <li> <a href="javascript:void(0)">Блог </a>   <i class="bi bi-chevron-right"></i></li>
        <li> <a href="javascript:void(0)">Работы </a> <i class="bi bi-chevron-right"></i></li>
        <li> <a href="javascript:void(0)">Контакты</a> <i class="bi bi-chevron-right"></i></li>
    </ul>
</div>
