@import "../../theme.scss";
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $red;
    z-index: 99999;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    li{
        display: flex;
        justify-content: space-between;
         &:not(:last-child){
            border-bottom: 1px solid #ffffff;
         }
         a{
            
            display: flex;
            padding: 15px 15px 15px;
            flex-grow: 1;
            justify-content: space-between;
        
         }
        
       
    }
    .close_li a{
        justify-content: flex-end;
    }
    .close{
        font-size: 20px;
        color: #ffffff;
        &:hover{
           cursor: pointer;
        }
    }
}

