<section  class="section-main" >
  
    <div class="container wrap-slider">
    <div class="slider ">
    <ngb-carousel [showNavigationArrows]="false" [interval]="10000" [showNavigationIndicators]="true">
        <ng-template *ngFor="let item of banners" ngbSlide>
            <div>
            <p class="text-slider" [innerHTML]="item.title"></p>
            <p class="description-slider" [innerHTML]="item.desc"></p>
             <a class="btn-site" id="projects" routerLink="/works/all" (click)="refToWorks()">Проекты</a>
            </div>
        </ng-template>


    </ngb-carousel>
    </div>
 </div>
</section>
