<div class="map-container">
    <div id="map" >   
    </div>
    <div class="form-wrap col-12 col-md-8 col-xl-6 m-auto">
        <h1 class="text-center">Контакты</h1>
        <div class="form-desc text-center">
            <p>Республика Карелия, г.Петрозаводск , ул.Коммунальная д 1</p>
            <p>dimjson5430@gmail.com</p>
        </div>
        
        <form class="">
            <div class="input-wrap d-flex">
                <input class="flex-grow-1 " placeholder="Имя" type="text" name="name">
                <input class="flex-grow-1" placeholder="Email"      type="email" name="email">
            </div>
            <div class="input-wrap d-flex ">
                <textarea placeholder="Сообщение" class="flex-grow-1" name="" id="" cols="30" rows="5"></textarea>
            </div>
            <div class="d-flex wrap-send-form justify-content-center">
            <i class="bi bi-envelope-plus send-form "></i>
           </div>
            
        </form>
    </div>
</div>


