<app-mobile-menu></app-mobile-menu>
<app-header></app-header>
<app-section-main  (onLoaded)="dataCompleteHandler()"></app-section-main>
<section id="all_article_list" class="all_article_list">

    <h1 id="all_works_title"> Все статьи</h1>
    <div *ngFor="let item of sliceData" class="article" routerLink="/article/{{item!.id}}">
            <div class="article__desc">
            <h2>{{item.title}}</h2>
            <p> {{item.desc}}</p>
           </div>
           <div class="article__date d-none d-md-flex">
             <span > {{item.date | date}}</span>
           </div>
    </div>


    <ngb-pagination [collectionSize]="length" [size]="'sm'" [pageSize]="pageSize" [(page)]="currentPage" (pageChange)="pageChanged($event)" aria-label="Default pagination"></ngb-pagination>
</section>
<app-map></app-map>
<app-footer></app-footer>