@import "../../theme.scss";

.section-blog{
    position: relative;
    padding: 84px 0px;
    background: $red;
    .wrap-image{
        height: 212px;
        width: 100%;
        img{
           width: 100%;
           object-position: cover;
        }
    }
  
    .post{
        position: relative;
        background: $grey;
        border: 2px solid transparent;
        border-radius: 4px;
        &:hover{
            border-color:$orange;
            cursor: pointer;
        }
    }
    .row-posts{
        padding-top: 85px;
    }
    .author_post{
        position: absolute;
        top: auto;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        width: 81px;
        left: 50%;
        height: 81px;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .date-block{
        padding-top: 66px;
        text-align: center;
        .date{
            color: $red;
            font-size: 14px;
            
        }
    }
    .description-block p{
        padding-top: 20px;
        font-size: 22px;
        
        
    }
    .title_post{
        font-size: 24px;
        text-align: center;
    }
    
}
@media (min-width:0px) and (max-width:992px){
    .col-post{
        margin-top: 30px;
    }
    .post .wrap-image{
        height: unset;
    }
    .date-block{
        padding-top: 85px;
    }
 
    
}