<section class="section-blog">
    <div class="container"> 
        <h1 class="text-center">Посты</h1>
         <div class="row row-posts">
            <div class=" col-md-4">
                <div class="post">
                    <div class="wrap-image">
                        <img src="assets/images/back_post.png">
                    </div>
                    <div class="author_post">
                        <img src="assets/images/person.png">
                    </div>
                    <div class="date-block">
                        <span class="date"> January 11, 2014 </span>
                    </div>

                    <div class="description-block text-center">
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipiscing. Aliquam viverra   dolor sit consectetur.  
                        </p>
                    </div>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="post">
                    <div class="wrap-image">
                        <img src="assets/images/back_post.png">
                    </div>
                    <div class="author_post">
                        <img src="assets/images/person.png">
                    </div>
                    <div class="date-block">
                        <span class="date"> January 11, 2014 </span>
                    </div>

                    <div class="description-block text-center">
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipiscing. Aliquam viverra   dolor sit consectetur.  
                        </p>
                    </div>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="post">
                    <div class="wrap-image">
                        <img src="assets/images/back_post.png">
                    </div>
                    <div class="author_post">
                        <img src="assets/images/person.png">
                    </div>
                    <div class="date-block">
                        <span class="date"> January 11, 2014 </span>
                    </div>

                    <div class="description-block text-center">
                        <p> Lorem ipsum dolor sit amet, 
                            consectetur adipiscing. Aliquam viverra   dolor sit consectetur.  
                        </p>
                    </div>
                </div>
            </div>
         </div>

    </div>
</section>
