/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'theme.scss';
@font-face {
    font-family: "LatoRegular";
    src: url("./assets/fonts/Lato-Reg.ttf");
}
@font-face {
    font-family: "LatoBold";
    src: url("./assets/fonts/Lato-Bol.ttf");
}
@font-face {
    font-family: "LatoLight";
    src: url("./assets/fonts/Lato-Lig.ttf");
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:     #ffffff;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:     #ffffff;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:     #ffffff;;
 }
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
a{
    color: unset;
    padding: 0px;
    text-decoration: none;
    height: 100%;
    &:hover{
        text-decoration: none;
        color: unset;
    }
}
body{
    font-family: "LatoRegular";
    font-size: 14px;
    color:#3d3d39;
}
.wrap-header{
    height: 100%;
}
.btn-site{
    display:inline-flex;
    border-right:1px solid $orange;
    border-bottom: 1px solid $orange;
    border-top:1px solid  $orange;
    border-left:4px solid  $orange;
    padding: 18px 30px;
    transition: 0.4s linear;
    &:hover{
        background: $red;
        color: white;
    }
    
}
h1{
    color: $orange;
    font-size: 35px;
    line-height: 39px;
}
h2{
    color: $orange;
}
article {
    color: #ffffff;
    font-size: 16px;
     li:before{
        content: "\F26E";
        font-family: "bootstrap-icons";
        color: $orange;
        position: relative;
        bottom: -2px;
    }
}

.section-main .carousel-indicators{
    justify-content: flex-start;
    margin-left: 0px;
    margin-block-end: 0px;
    left: 15px;
    bottom: -156px;
    li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border:2px solid rgba(0,0,0,0.55);
        opacity: 1;
      
    }
    
    .active {
       opacity: 1;
       background: rgba(0,0,0,0.56);
    }
}
.modalImagePortfolios{
    width: 100%;
    object-fit: cover;
}
.wrapper{
    position: relative;
}
.yellow_line::after{
    content: "";
    display: block;
    height: 9px;
    width: 88px;
    background: #fac81b;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

}
.responseFormMessage{
    color: $orange;
}
.view_all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
   i{
    position: relative;
    bottom: -1px;
   }
    span{
        font-size: 20px;
        line-height: 20px;
        color: $orange;
    }
}
.i-close{
    cursor: pointer;
}
.pagination{
    justify-content: center;
    margin-top: 30px;
}
.page-link{
    border: 1px solid $orange;
    color:$orange;
}
.page-item.active .page-link{
    background: $orange;
    background-color: $orange;
    border-color:unset;
}
.page-link:hover{
    color: unset;
}
.page-link:focus{
    box-shadow: none;
}
.text-slider span{
    color: #f06d6e;
    font-family: "LatoBold";
   
}









