<section  id="feature" class="section-feature yellow_line">
    <div class="container text-center " >
        <h1> Технологии</h1>
        <div class="feature-items row">

            <div *ngFor="let item of data" class="col-12 col-md-3  col-sm-6  item text-center ">
                <div class="item__wrap-img d-flex justify-content-center align-items-center m-auto">
                    <i class="{{item.class}}"></i>
                </div>
                <div class="item__content">
                     <span class="title-content">{{item.title}}</span>
                     <p class="content__desc">{{item.desc}}</p>
                     <a #btn class="btn-site" routerLink="/feature/{{item.id}}">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="view_all"> <a routerLink="/feature/all"> <span > Смотреть все <i class="bi bi-eye"></i> </span> </a> </div>
    </div>
</section>
