<section class="section-feature">
    <div class="container text-center ">
        <h1> Технологии</h1>
        <div class="feature-items row">
            <div class="col-12 col-md-3 item text-center ">
                <div class="item__wrap-img d-flex justify-content-center align-items-center m-auto">
                    <i class="bi bi-phone"></i>
                </div>
                <div class="item__content">
                     <span class="title-content">Mobile Ready </span>
                     <p class="content__desc">Ваш сайт будет иметь не только десктопную версию, но и мобильную</p>
                     <a class="btn-site" href="javascript:void(0)">Узнать больше</a>
                </div>
            </div>

            <div class="d-none d-md-block  col-6 col-md-3 item text-center ">
                <div class="item__wrap-img d-flex justify-content-center align-items-center m-auto">
                    <i class="bi bi-filetype-html"></i>
                </div>
                <div class="item__content">
                     <span class="title-content" >HTML5 Valid </span>
                     <p class="content__desc">Формы, заполняемые на сайте, будут проверены на правильность ввода. </p>
                     <a class="btn-site" href="javascript:void(0)">Узнать больше</a>
                </div>
            </div>

            <div class="d-none d-md-block col-md-3 item text-center ">
                <div class="item__wrap-img d-flex justify-content-center align-items-center m-auto">
                    <i class="bi bi-filetype-css"></i>
                </div>
                <div class="item__content">
                     <span class="title-content">CSS3 </span>
                     <p class="content__desc">Благодаря CSS3 ваш сайт получит красивое и надежное оформление </p>
                     <a class="btn-site" href="javascript:void(0)">Узнать больше</a>
                </div>
            </div>

            <div class="d-none d-md-block col-md-3 item text-center ">
                <div class="item__wrap-img d-flex justify-content-center align-items-center m-auto">
                    <i class="bi bi-star-fill"></i>
                </div>
                <div class="item__content">
                     <span class="title-content">Уникальный дизайн</span>
                     <p class="content__desc">Предоставим вам уникальный дизайн, который будет вас отличать от рядовых сайтов </p>
                     <a class="btn-site" href="javascript:void(0)">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</section>
